body {
  max-width: 1440px;
  min-height: 90vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 60%, 98%);
}
