.container {
  width: 550px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  h1 {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    span {
      font-size: 0.625rem;
      background-color: hsl(219, 85%, 26%);
      color: #fff;
      padding: 0.125rem 0.5rem;
      border-radius: 0.1875rem;
      margin-left: 5px;
      margin-top: 3px;
    }
  }
  a {
    text-decoration: none;
  }
  p {
    font-size: 0.8rem;
    color: #000;
  }
}
